#！重新获取cookice，需要重新登录威锋账号
[MITM]
hostname = api.wfdata.club

[rewrite_local]
^https?:\/\/api.wfdata.club\/v1\/auth\/signin url script-request-body https://raw.githubusercontent.com/moran206619/moran206619/refs/heads/main/Scripts/weifeng/weifeng.js

[task_local]
1 0 * * * https://raw.githubusercontent.com/moran206619/moran206619/refs/heads/main/Scripts/weifeng/weifeng.js
