[MITM]
hostname = api.wfdata.club

[rewrite_local]
^https?:\/\/api.wfdata.club\/v1\/auth\/signin url script-request-body https://raw.githubusercontent.com/moran206619/moran206619/refs/heads/main/Scripts/weifeng/cookie.js

[task_local]
1 0 * * * https://raw.githubusercontent.com/moran206619/moran206619/refs/heads/main/Scripts/weifeng/%E5%A8%81%E9%94%8B%E5%AE%9A%E6%97%B6%E4%BB%BB%E5%8A%A1.js
