[MITM]
hostname = api.wfdata.club

[rewrite_local]
^https?:\/\/api.wfdata.club\/v1\/auth\/signin url script-request-body https://raw.githubusercontent.com/moran206619/moran206619/refs/heads/main/Scripts/weifeng/cookie.js

[task_local]
1 0 * * * https://raw.githubusercontent.com/moran206619/moran206619/refs/heads/main/Scripts/weifeng/%E5%A8%81%E9%94%8B%E8%87%AA%E5%8A%A8%E7%AD%BE%E5%88%B0.js
